<div id="qt_dialog_inner">
  <div class="qt_popup_header">
    <span id="qt_popup_close" class="qt-popup-close-button">X</span>
  </div>
  <div class="qt_popup_body"><div class="qt_popup_content"></div>
  </div>
  <div class="qt_popup_footer"></div>
</div>
