    <section id="topnav" class="topnav">

        <div id="branding" class="branding">
            <a href="#">
                <img id="headerLogoImg" src="img/logo.svg" onerror="this.onerror=null; this.src='img/logo.png'" alt="LOGO" />
            </a>
        </div>

        <div class="filler"></div>

        <div id="notifications" class="notifications dropdown">
        </div>

        <div id="topuser" class="topuser dropdown">
        </div>

    </section>
    <!-- .topnav -->

    <section id="cozy" class="cozy">

        <section id="bill" class="bill">
            <div class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=LqXWIG93hoM',containment:'self',autoPlay:true, loop:1, mute:true, rel:0, startAt:0, opacity:1, mute: true, showControls:false}">
                <div id="bannerOverlay" class="overlay">
                </div>
            </div>
        </section>

        <section id="cta-home" class="cta-home">
        </section>

    </section>
