    <section id="topnav" class="topnav navBarSmall">

        <div id="branding" class="branding">
            <a href="index.html">
                <img id="headerLogoImg" src="img/logo-white.svg" onerror="this.onerror=null; this.src='img/logo.png'" alt="LOGO" />
            </a>
        </div>

        <div class="headerMobMenu">
            <label for="chkMenu" id="chkMenuLabel" class="mobmenu-toggle">&#9776;</label>
            <input type="checkbox" id="chkMenu" onclick="showHideAsideLeft(this)" />
        </div>

        <div class="filler"></div>

        <section id="headerSearch" class="headerSearch" role="search" aria-label="header search">
            <input type="text" placeholder="Search.." />
            <button type="submit"><i class="fa fa-search"></i></button>
        </section>

        <div id="walls" class="walls dropdown">
        </div>

        <div id="notifications" class="notifications dropdown">
        </div>

        <div id="topuser" class="topuser dropdown">
        </div>

    </section>
    <!-- .topnav -->
