<main id="main" class="content" role="main" aria-label="main">
    <div id="container" class="container">
        <div id="loader_image" class="cnt"><img src="{{loaderfile}}" alt="" width="24" height="24">{{loadertitle}}</div>
        <div id="results" data-results="12345"></div>
        <div id="loader_message"></div>
        <!-- Load More Btn -->
    </div>
</main>
