/*
 * <codeheader>
 * <name>ChinaTown Front</name>
 * <version>6.1</version>
 * <description>ChinaTown Front</description>
 * <base>https://ampae.com/chinatown/</base>
 * <author>V Bugroff</author>
 * <email>bugroff@protonmail.com</email>
 * <author>M Karodine</author>
 * <email>usr04@protonmail.com</email>
 * <copyright file="LICENSE.txt" company="AMPAE">
 * THIS CODE ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR
 * A PARTICULAR PURPOSE.
 * </copyright>
 * <date>2019-01-01</date>
 * <summary>
 * CSS Script File
 * </summary>
 * </codeheader>
*/
@import 'reset.css';
/*
@import 'runtime.css';
*/
@import 'helpers.css';
@import 'alerts.css';
@import 'typo.css';
@import 'buttons.css';
@import 'forms.css';

@import 'article.css';

.dialog {
  display: none;
}
.footer {
  display: none;
}

body {
  background: rgba(250, 250, 250, .7) url('../img/page.png') repeat top left fixed;
}
header {
  background: rgba(22, 22, 22, .9);
}
main {
  background: rgba(250, 250, 250, .7) url('../img/page.png') repeat top left fixed;
  padding: 10px;
}


.asideLeft {
  padding: 10px;
}
/*
.asideRight {
}
*/

/*
@import 'aside-nav.css';
@import 'lightbox.css';
*/
